<div *ngIf="item$ | async as item" class="card mt-2">    
    <div *ngIf="true; let _disable" class="card-body"> <!-- assign true to _disable  -->
      <h5 class="card-title">Link
        <button [disabled]="_disable" class="btn btn-primary float-right mb-3" (click)="updateItem(item.id, itemLabel.value)">Update</button>
        <button class="btn btn-primary float-right mb-3 mr-3" >Edit</button>
      </h5>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <input #itemLabel class="form-control" [value]="item.label" (keyup)="_disable = $event.target.value == item.label" >                    
      </div>       
    </div>
  </div>
