<div *ngIf="item$ | async as item" class="card mt-2">
  <div *ngIf="true; let _disable"  class="card-body">  <!-- ngIf just to define and set the variable -->
    <h5 class="card-title">Node        
      <button [disabled]="_disable" class="btn btn-primary float-right mb-3" (click)="updateItem(item.id, itemLabel.value)">Update</button>
      <button class="btn btn-primary float-right mb-3 mr-3" (click)="test()">Edit</button>
    </h5>  
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
      </div>           
      <input #itemLabel class="form-control" [value]="item.label" (keyup)="_disable = item.label == $event.target.value" >
    </div>    
  </div>
</div>