<div class="container-fluid " (click)="hideContextMenu()" oncontextmenu="return false;">
  <app-context-menu [context]="contextmenudata"></app-context-menu>
  <div class="row">
    <div class="col-9 card" (contextmenu)="showContextMenu(null, $event.clientX, $event.clientY)" (click)="selectionChanged(null)">
      <div style="height: calc( 100vh - 68px)"  >
        <ngx-graph class="chart-container"
          

          [draggingEnabled]="true"
          [autoCenter]="false"
          (activate)="onClick($event)"            
          [legend]="false">            
          <!-- [view]="[800, 800]" bewusst nicht festgelegt -> füllt das umgebende div
            (select)="onClick($event)"          
            (deactivate)="onClick($event)" 
            [nodes]="nodeitems"
            [links]="linkitems" 
  
            [layout]="layout"                 
          -->
          <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-template>
                    
          <ng-template #nodeTemplate let-node>
            <svg:g class="node" (contextmenu)="showContextMenu(node, $event.clientX, $event.clientY)" 
                                (dblclick)="editNode(node.id)" 
                                (click)="selectionChanged(node.id); $event.stopPropagation();">

              <!--



              -->

              <!--

              <svg:ellipse
              [attr.rx] = "node.dimension.width / 2"
              [attr.ry] = "node.dimension.height / 2"
              [attr.cx]="node.dimension.width / 2"
              [attr.cy]="node.dimension.height / 2"
              [attr.fill]="node.data.color"
              [attr.stroke]="'black'"
              [attr.stroke-width]="(selectedId() == node.id) ? '3' : '0'"
            />


            <svg:polygon
            [attr.points]="
                                     '0'         + ',' +        '0' 
                         + ' ' 
                         +           '0'         + ',' + node.dimension.height 
                         + ' ' 
                         +  node.dimension.width + ',' + node.dimension.height 
                         + ' '
                         +  node.dimension.width + ',' +        '0'                          
                         "
            [attr.fill]="node.data.color"
            [attr.stroke]="'black'"
            [attr.stroke-width]="(selectedId() == node.id) ? '3' : '0'"
          />




            <svg:polygon
            [attr.points]="
                                     '0'         + ',' +        '0' 
                         + ' ' 
                         +           '0'         + ',' + node.dimension.height 
                         + ' ' 
                         +  node.dimension.width + ',' + node.dimension.height 
                         + ' '
                         +  node.dimension.width + ',' +        '0'                          
                         "
            [attr.fill]="node.data.color"
            [attr.stroke]="'black'"
            [attr.stroke-width]="(selectedId() == node.id) ? '3' : '0'"
          />

            -->

              <svg:rect *ngIf="node.shape == 0"
                [attr.width]="node.dimension.width"
                [attr.height]="node.dimension.height"
                [attr.fill]="node.data.color"
                [attr.stroke]="'black'"
                [attr.stroke-width]="(selectedId() == node.id) ? '3' : '0'"  
              />

              <svg:rect *ngIf="node.shape == 1"
                [attr.x]="-node.dimension.height/8"
                [attr.width]="node.dimension.width + node.dimension.height/4"
                [attr.height]="node.dimension.height"
                [attr.rx]="node.dimension.height/2"
                [attr.ry]="node.dimension.height/2"

                [attr.fill]="node.data.color"
                [attr.stroke]="'black'"
                [attr.stroke-width]="(selectedId() == node.id) ? '3' : '0'"  
              />

              <svg:polygon *ngIf="node.shape == 2"
              [attr.points]="
                              node.dimension.height/8                          + ',' +        '0'              + ' ' 
                           + -node.dimension.height/8                          + ',' + node.dimension.height/2 + ' '                                        
                           +  node.dimension.height/8                          + ',' + node.dimension.height   + ' ' 
                           +  (node.dimension.width - node.dimension.height/8) + ',' + node.dimension.height   + ' '
                           +  (node.dimension.width + node.dimension.height/8) + ',' + node.dimension.height/2 + ' '
                           +  (node.dimension.width - node.dimension.height/8) + ',' +        '0'                          
                           "
              [attr.fill]="node.data.color"
              [attr.stroke]="'black'"
              [attr.stroke-width]="(selectedId() == node.id) ? '3' : '0'"
            />







              <svg:text [attr.x]="10" [attr.y]="node.dimension.height / (node.labels.length + 1)">
                <tspan [attr.x]="node.dimension.width / 2" text-anchor="middle" dy="0.4em">{{node.labels[0]}}</tspan>                              
                <tspan [attr.x]="node.dimension.width / 2" text-anchor="middle" dy="1em" *ngFor="let lb of node.labels | slice:1">{{lb}}</tspan>  
                <tspan [attr.x]="node.dimension.width / 2" text-anchor="middle" dy="0.4em" *ngIf="node.labels.length > 1" fill-opacity="0">A</tspan>
              </svg:text>

            
              <!-- bisher so
              <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                {{node.label}}
              </svg:text>
              -->
            </svg:g>              
          </ng-template>

          <ng-template #linkTemplate let-link>              
            <svg:g class="edge" (contextmenu)="showContextMenu(link, $event.clientX, $event.clientY)" (click)="selectionChanged(link.id); $event.stopPropagation();">
              <svg:path 
                class="line" 
                [attr.stroke-width]="(selectedId() == link.id) ? '3' : '2'" 
                marker-end="url(#arrow)">
              </svg:path>
              <svg:text 
                class="edge-label" 
                text-anchor="middle">
                <!-- [attr.href]="url + '#' + link.id" für Mozilla     -->
                <textPath
                  class="text-path"                                        
                  [attr.href]="url + '#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%">
                  {{link.label}}
                </textPath>                                                        
              </svg:text>              
            </svg:g>           
          </ng-template>         
        </ngx-graph>
      </div>
    </div>

    <div class="col-3">
      <app-graphcontext [graph]="graph.graph"></app-graphcontext>
      <app-linkcontext *ngIf="isLink(selectedItem)"></app-linkcontext>
      <app-nodecontext *ngIf="isNode(selectedItem)"></app-nodecontext>
    </div>   
  </div>           <!-- row -->
</div>





