/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    height: 100vh;
    border-style: solid;
}

.fill { 
    min-height: 100%;
    overflow: hidden;
}
